<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Integrador_CoreSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Integrador_CoreSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://conectoresbanco1.azurewebsites.net/Integrador-Teller.asmx"
                binding="basicHttpBinding" bindingConfiguration="Integrador_CoreSoap"
                contract="Integrador.Integrador_CoreSoap" name="Integrador_CoreSoap" />
        </client>
    </system.serviceModel>
</configuration>