<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=DESKTOP-PHF3H2S;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="Connection2" connectionString="Data Source=desktop-brceigk;Initial Catalog=Caja_App;Integrated Security=True" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Integrador_CoreSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Integrador_CoreSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://conectoresbanco1.azurewebsites.net/Integrador-Teller.asmx" binding="basicHttpBinding" bindingConfiguration="Integrador_CoreSoap" contract="ServiceReference.Integrador_CoreSoap" name="Integrador_CoreSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>