<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=DESKTOP-PHF3H2S;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="Connection2"
      connectionString="Data Source=desktop-brceigk;Initial Catalog=Caja_App;Integrated Security=True"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SimulacionSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61616/Simulacion.asmx" binding="basicHttpBinding"
          bindingConfiguration="SimulacionSoap" contract="ServiceReference.SimulacionSoap"
          name="SimulacionSoap" />
    </client>
  </system.serviceModel>
</configuration>