<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TellerB1.Properties.Settings.Caja_AppConnectionString"
            connectionString="Data Source=desktop-brceigk;Initial Catalog=Caja_App;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TellerB1.Properties.Settings.Banco1ConnectionString"
            connectionString="Data Source=DESKTOP-PHF3H2S;Initial Catalog=Banco1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>