<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=desktop-brceigk;Initial Catalog=Caja_App;Integrated Security=True" />
    <add name="Caja_AppEntities" connectionString="metadata=res://*/CajaEntities.csdl|res://*/CajaEntities.ssdl|res://*/CajaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-brceigk;initial catalog=Caja_App;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Caja_AppEntities2" connectionString="metadata=res://*/CajaEntities.csdl|res://*/CajaEntities.ssdl|res://*/CajaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-brceigk;initial catalog=Caja_App;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Caja_AppEntities3" connectionString="metadata=res://*/TellerEntities.csdl|res://*/TellerEntities.ssdl|res://*/TellerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-brceigk;initial catalog=Caja_App;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Caja_AppEntities4" connectionString="metadata=res://*/TellerEntities.csdl|res://*/TellerEntities.ssdl|res://*/TellerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-brceigk;initial catalog=Caja_App;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Caja_AppEntities5" connectionString="metadata=res://*/TellerEntities.csdl|res://*/TellerEntities.ssdl|res://*/TellerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-brceigk;initial catalog=Caja_App;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Caja_AppEntities6" connectionString="metadata=res://*/TellerEntities.csdl|res://*/TellerEntities.ssdl|res://*/TellerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-brceigk;initial catalog=Caja_App;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>